@{
    ViewBag.Title = "Home Page";
}
<br />
    <p><img src="~/Images/logo.PNG" /></p>
<div>
    <h1>6313 Web Docs</h1>
    <h2 class="alert">Get your Docs sorted</h2>
    <p>@*<a href="http://asp.net" class="btn btn-primary btn-lg">Get Help&raquo;</a>*@</p>

</div>
@*<br />
<br />*@

<div class="jumbotron">
    <p class="lead">Use our software to relieve the struggle of version control.</p>
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-check-square"></i>List icons</li>
            <li><i class="fa-li fa fa-check-square"></i>can be used</li>
            <li><i class="fa-li fa fa-spinner fa-spin"></i>as bullets</li>
            <li><i class="fa-li fa fa-square"></i>in lists</li>
        </ul>
    </div>
    <p></p>
</div>
 